<style>
body {
    background-color:blue;
    Font size:14
    color:white;
    text-align:center;
    padding:10px;
    float: left;
}


h1 {
        color: white;
        text-align: left;
        font-style:italic; font-weight:bold;}
}


</style>


